div {
  position: relative;

  padding: 0.5rem;
  text-align: center;
  background-color: #222022bf;
  color: white;
  box-sizing: border-box;
  border-radius: 15px;
  border: 15px solid transparent;
  border-image: url(/assets/img/others/pmdtextbox.png) 43 round;

  cursor: default;
}


$arrowSize: 0.8rem;

.arrow-down {
  position: absolute;
  right: 50%;
  left: 50%;
    transform: translate(-50%, 30%);
  bottom: 0;
  top: 100%;
  width: 0;
  height: 0;
  border-left: $arrowSize solid transparent;
  border-right: $arrowSize solid transparent;

  border-top: $arrowSize solid rgba(255, 255, 255, 0.9);

  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes animate {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

