/* You can add global styles to this file, and also import other style files */

//----------------------------------*\
// Fonts
//----------------------------------*/
@import "scss/_fonts.scss";

// primary font
$primary_font: "Wonder Mail";
// font-weight
$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;
// Font size
$font-xs: 12px;
$font-sm: 14px;
$primary-fs: 1.2rem;
$font-md: 18px;
$font-lg: 20px;

* {
  font-family: $primary_font;
  font-size: $primary-fs;
  font-weight: $regular;
  user-select: none;
}
body {
  font-family: $primary_font;
  font-size: $primary-fs;
  font-weight: $regular;
  margin: 0;
}
