@font-face {
  font-family: "Wonder Mail";
  src: url("regular/wondermail.woff2") format("woff2"),
    url("regular/wondermail.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
